[submodule "ts_project1"]
	path = ts_project1
	url = https://github.com/Weebad123/TS-airdrop-project1
[submodule "rust_project2"]
	path = rust_project2
	url = https://github.com/Weebad123/Rust-airdrop-project1
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/Weebad123/anchor-escrow.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/Weebad123/anchor-vault.git
[submodule "anchor-marketplace"]
	path = anchor-marketplace
	url = https://github.com/Weebad123/anchor-marketplace.git
